@charset "UTF-8";

.App {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  .content {
    width: 80%;
    margin-top: 15px;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .ant-breadcrumb {
      flex-basis: 100%;
      font-size: 20px;
      height: 30px;
      line-height: 30px;
    }
  }
}