.asmBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  background-color: #edeff0; }
  .asmBox .leftBox {
    flex-basis: 75%;
    height: 100%;
    margin: 15px 0;
    align-self: flex-start; }
    .asmBox .leftBox .courseTitle {
      box-sizing: content-box;
      padding: 17px;
      background-color: white;
      border-color: lightgray;
      height: 250px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: space-around; }
      .asmBox .leftBox .courseTitle .title {
        margin-left: 20px;
        font-size: 25px;
        font-weight: bolder; }
      .asmBox .leftBox .courseTitle div {
        margin-left: 20px;
        font-size: 20px;
        color: #4c5157; }
      .asmBox .leftBox .courseTitle button {
        background-color: #0abe91;
        color: white;
        padding: 13px 78px;
        font-size: 18px;
        font-weight: bolder;
        border-radius: 4px;
        margin-left: 20px;
        outline: none; }
    .asmBox .leftBox .testList {
      background-color: white;
      padding: 25px;
      margin-top: 10px; }
      .asmBox .leftBox .testList ul {
        list-style: none;
        padding: 0px;
        border-bottom: 1px solid #eee; }
        .asmBox .leftBox .testList ul li {
          float: left;
          font-size: 18px;
          font-weight: bolder;
          border-bottom: 1px solid #00cc99; }
      .asmBox .leftBox .testList ul::after {
        content: '';
        display: block;
        clear: both; }
      .asmBox .leftBox .testList .testItem {
        height: 60px;
        background-color: #f7f7f7;
        border: 1px solid #eee;
        line-height: 60px;
        margin: 15px 0; }
        .asmBox .leftBox .testList .testItem .testIndex {
          font-size: 17px;
          margin: 0 15px;
          color: gray; }
        .asmBox .leftBox .testList .testItem .testName {
          font-size: 20px;
          margin: 0 15px;
          font-weight: bold; }
        .asmBox .leftBox .testList .testItem button {
          background-color: #0abe91;
          color: white;
          font-size: 15px;
          font-weight: bolder;
          border-radius: 4px;
          outline: none;
          width: 100px;
          height: 40px;
          line-height: 40px;
          float: right;
          margin: 10px 20px; }
    .asmBox .leftBox .testList::after {
      content: '';
      display: block;
      clear: both; }
  .asmBox .rightBox {
    flex-basis: 23%;
    height: 100%;
    margin: 15px 0;
    align-self: flex-start; }
    .asmBox .rightBox .book {
      padding: 20px;
      text-align: center;
      background-color: white; }
      .asmBox .rightBox .book img {
        width: 130px;
        height: 200px; }
      .asmBox .rightBox .book ul {
        list-style: none;
        padding: 0px;
        border-bottom: 1px solid #eee; }
        .asmBox .rightBox .book ul li {
          float: left;
          font-size: 18px;
          font-weight: bolder; }
      .asmBox .rightBox .book ul::after {
        content: '';
        display: block;
        clear: both; }
      .asmBox .rightBox .book .bookDetail #bookName {
        font-size: 15px;
        font-weight: bold;
        margin: 10px 0;
        text-align: left; }
      .asmBox .rightBox .book .bookDetail #author {
        font-size: 15px;
        margin: 10px 0;
        text-align: left;
        font-weight: bold; }
      .asmBox .rightBox .book .bookDetail #detail {
        font-size: 15px;
        margin: 10px 0;
        text-align: left;
        font-weight: bold; }
      .asmBox .rightBox .book .bookDetail #bookLink {
        font-size: 15px;
        margin: 10px 0;
        text-align: right;
        font-weight: bold;
        color: #0abe91; }
    .asmBox .rightBox .teacher {
      padding: 20px;
      background-color: white;
      margin-top: 10px; }
      .asmBox .rightBox .teacher ul {
        list-style: none;
        padding: 0px;
        border-bottom: 1px solid #eee; }
        .asmBox .rightBox .teacher ul li {
          float: left;
          font-size: 18px;
          font-weight: bolder; }
      .asmBox .rightBox .teacher ul::after {
        content: '';
        display: block;
        clear: both; }
      .asmBox .rightBox .teacher .teacherDetail {
        display: flex; }
        .asmBox .rightBox .teacher .teacherDetail .profile {
          margin-left: 15px; }
          .asmBox .rightBox .teacher .teacherDetail .profile div {
            margin: 5px;
            font-size: 15px;
            font-weight: bold; }

/*# sourceMappingURL=Asm.css.map */
