.typeBox {
  width: 100%;
  background: #ECECEC;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  .ant-card {
    flex-basis: 32%;
    margin: 2px;
    font-size: 15px;
    font-weight: bold;
    &:hover {
      position: relative;
      z-index: 2;
      box-shadow: 0 0 15px 15px #dcdcdc;
    }
  }
  p[name='type'] {
    flex-basis: 100%;
    font-size: 20px;
    font-weight: bold;
  }
}