@charset "UTF-8";

header {
  display: flex;
  justify-content: center;
  height: 60px;
  border-bottom: 1px solid white;
  box-shadow: 0px 2px 3px rgb(213, 213, 213);
  .headContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 80%;
    @keyframes logoRotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    .headLeft {
      display: flex;
      align-items: center;
      img {
        width: 70px;
        height: 50px;
        animation: logoRotate infinite 10s linear;
      }
      .ant-input-search {
        width: 300px;
      }
    }
    button {
      margin-left: 5px;
    }
    .userStatus {
      display: flex;
      align-items: center;
      span + span {
        margin: 0px 30px ;
      }
    }
  }
}

