@charset "UTF-8";

.registerPage {
  .registerBox {
    text-align: right;
    input {
      width: 300px;
      margin: 15px;
      margin-bottom: 5px;
    }
    input[name=problem] {
      width: 135px;
      height: 40px;
      text-align: center;
      font-weight: bolder;
      margin-right: 5px;
    }
    input[name=answer] {
      width: 65px;
      text-align: center;
    }
    button {
      margin: 10px 0px;
    }
    .ant-alert {
      text-align: center;
    }
  }
}