@charset "UTF-8";

$breakpoints: (
        's': 'only screen and ( max-width: 768px)',
        'm': 'only screen and ( max-width: 992px)',
        'l': 'only screen and ( max-width: 1200px)',
) !default;

@mixin respond-to($breakpoint) {
  $query: map-get($breakpoints, $breakpoint);

  @if not $query {
    @error 'No value found for `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.';
  }

  @media #{if(type-of($query) == 'string', unquote($query), inspect($query))} {
    @content;
  }
}

.content.TopicPage {
  justify-content: flex-start;
  .content-title {
    font-size: 30px;
    font-weight: bolder;
    color: black;
    flex-basis: 75%;
    @include respond-to(s) {
      flex-basis: 100%;
    }
    margin: 40px 0px;
  }
  .author-block {
    flex-basis: 75%;
    @include respond-to(s) {
      flex-basis: 100%;
    }
    display: flex;
    flex-wrap: wrap;
    .userHead {
      width: 70px;
      height: 70px;
      @include respond-to(s) {
        width: 35px;
        height: 35px;
      }
    }
    .content-detail {
      margin-left: 15px;
      flex: 1;
      .topicInfo {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        @include respond-to(s) {
          flex-wrap: wrap;
          align-items: center;
        }
        .info-left {
          font-weight: bold;
          a {
            font-weight: bolder;
            font-size: 17px;
            @include respond-to(s) {
              font-size: 12px;
            }
          }
          span {
            text-decoration: underline;
          }
        }
        .info-right {
          display: flex;
          .comments, .views, .vote {
            text-align: center;
            margin: 0px 5px;
            width: 60px;
            @include respond-to(s) {
              width: 30px;
            }
          }
          .vote, .comments {
            @include respond-to(s) {
              display: none;
            }
          }
          .count {
            font-size: 20px;
            @include respond-to(s) {
              font-size: 12px;
            }
            font-weight: bolder;
            color: rgb(206, 120, 33);
          }
          .countTitle {
            color: gray;
            font-weight: bolder;
            @include respond-to(s) {
              font-size: 12px;
            }
          }
        }
      }
      .content-article {
        font-size: 17px;
        table{
          border-width: 2px;
          border-style: solid;
          border-color: lightgray;
          caption-side: top;
          border-collapse: collapse;
        }
        th{
          background-color: rgb(233, 234, 236);
        }
        th {
          padding: 7px;
          text-align: center;
          margin: 10px;
        }
        td {
          border-width: thin;
          border-style: solid;
          border-color: lightgray;
          padding: 7px;
          text-align: center;
          margin: 10px;
        }
        tr:nth-child(even) {
          background-color: rgb(246, 246, 246);
        }
      }
      .bottom-info {
        margin: 60px 0px;
        height: 60px;
        box-sizing: border-box;
        border-top: 1px solid lightblue;
        border-bottom: 1px solid lightblue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .bottom-left {
          button + button {
            margin-left: 5px;
          }
        }
        .bottom-right {
          span + span {
            margin-left: 10px;
          }
        }
      }
    }
  }
  .comment-block {
    flex-basis: 75%;
    @include respond-to(s) {
      flex-basis: 100%;
    }
    .userHead {
      width: 70px;
      height: 70px;
      @include respond-to(s) {
        width: 35px;
        height: 35px;
      }
    }
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid lightgray;
    padding-top: 20px;
    .comment-detail {
      margin-left: 15px;
      flex: 1;
      .comment-top {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        .comment-top-right {
          border: 1px solid white;
          border-radius: 10px;
          background-color: rgb(240, 240, 240);
          box-sizing: border-box;
          padding: 3px 5px;
          color: darkgrey;
        }
        a {
          font-weight: bolder;
          font-size: 17px;
          @include respond-to(s) {
            font-size: 12px;
          }
        }
      }
      .comment-article {
        font-size: 17px;
        table{
          border-width: 2px;
          border-style: solid;
          border-color: lightgray;
          caption-side: top;
          border-collapse: collapse;
        }
        th{
          background-color: rgb(233, 234, 236);
        }
        th {
          padding: 7px;
          text-align: center;
          margin: 10px;
        }
        td {
          border-width: thin;
          border-style: solid;
          border-color: lightgray;
          padding: 7px;
          text-align: center;
          margin: 10px;
        }
        tr:nth-child(even) {
          background-color: rgb(246, 246, 246);
        }
      }
      .comment-bottom {
        font-size: 25px;
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
        margin-bottom: 15px;
        .comment-like, .comment-dislike {
          width: 100px;
          span {
            margin: 0 10px;
          }
        }
        .comment-like {
          text-align: right;
        }
      }
    }
  }
  .topic-bottom {
    flex-basis: 75%;
    @include respond-to(s) {
      flex-basis: 100%;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid lightblue;
    padding: 10px 0px;
    border-bottom: 1px solid lightblue;
    button + button {
      margin-left: 5px;
    }
  }
}
